__pycache__
*.pyc
*.pyo
.Python
quotation-venv
quotation_venv
.git
.gitignore
README.md
.env
.vscode
*.log
test.ipynb
attachments/*
temp_attachments/*
email_cache/*
*.pdf
*.json
node_modules
.DS_Store